*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body-voiture {
    display: flex;
    gap: 20px;
}

/* ****************************TABLE********************** */

table,
tr,
th {
    width: 60vw;
    border: #002a5b4d;
    border-collapse: collapse;
    padding: 5px;

}

th {
    background-color: #d7eaff;
}

td {
    text-align: start;
    border-bottom: #002a5b4d;
    padding-left: 10px;
}

.table-contenue:hover {
    background-color: #002a5b4d;
}

.table-contenue {
    border-bottom: 1px solid #002a5b4d;
    cursor: pointer;
}

/* **********************Bloc Modification *************** */
fieldset {
    border: 1px solid #002a5b4d;
    border-radius: 6px;
}

legend {
    font-size: 17px;
    margin-left: 25px;
    font-weight: bolder;
}

.historiqueP {
    padding: 20px;
}

/* ********************BARE RECHERCHE********************** */
.recherche {
    text-align: right;
}

.txt {
    padding: 6px;
    border: 1px solid #002a5b4d;
    border-radius: 6px;
    margin-bottom: 10px;
    outline: none;
    font-size: 16px;
}

.txt:hover {
    background-color: #002a5b17;
}